<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="POST">
        <label for="">Username</label>
        <input onchange="click_name()" type="text" id="user_name">
        <span id="errMsg"></span>
        <br>
        <br>
        <label for="">Password</label>
        <input onchange="val_pass()" type="password" id="pass">
        <span id="pas_errMsg"></span>
        <br>
        <br>
        <button type="submit">submit</button>
    </form>

</body>

</html>