li {
    padding: 5px;
    background-color: aquamarine;
    margin: 10px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

h2 {
    align-items: center;
    justify-content: center;
    display: flex;
}

#box {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}

ul {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}