<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= x %>
    </title>
    <link type="text/css" rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous">
        </script>

</head>

<body>
    <nav>
        <a href="/">home</a>
        <a href="/form1">registration</a>
        <a href="/form2">login</a>
    </nav>

    <div class="allcards">
        <div class="card">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="" width="100%">
            <div class="content">
                <div class="details">
                    <h4>book name 1</h4>
                    <h5>author</h5>
                </div>
                <button id="del">delete</button>
            </div>
        </div>


        <div class="card">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="" width="100%">
            <div class="content">
                <div class="details">
                    <h4>book name 2</h4>
                    <h5>author</h5>
                </div>
                <button id="del">delete</button>
            </div>

        </div>


        <div class="card">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="" width="100%">
            <div class="content">
                <div class="details">
                    <h4>book name 3</h4>
                    <h5>author</h5>
                </div>
                <button id="del">delete</button>
            </div>

        </div>


        <div class="card">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="" width="100%">
            <div class="content">
                <div class="details">
                    <h4>book name 4</h4>
                    <h5>author</h5>
                </div>
                <button id="del">delete</button>
            </div>

        </div>

    </div>

    <script>
        $(document).ready(function () {
            $(".card").click(function () {
                $(this).css("background-color", "yellow")
            })
            $(".card").on("click", "#del", function () {
                $(this).parent().parent().hide();
            })
        })
    </script>

</body>


</html>